.App {
  background: url('./img/sand.jpg') no-repeat;
  min-height: 100vh;
}

.app_child {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: black;
}